.config/tmux/plugins
.DS_Store
.config/zsh/.zsh_sessions
.config/zsh/.zsh_history
.config/zsh/.zcompdump*
.aider*
.config/zsh/environment.zsh
**/oauth_creds.json
**/.env
.gemini/
**/.aws/credentials
**/*.pem
**/*.key
**/id_rsa*
**/id_ed25519*
